<title>Daily Notes | Home</title>
<%- include('partials/header.ejs') %>

    <main>
        <h5>
            <%= pageName %>
        </h5>
        
        <!-- now for each notes render html page-use loop -->
        <div class="post">
        <% notes.forEach(function(notes){ %>
                <h6>
                    <%= notes.title %>
                </h6>
                <p style="display: inline;">
                    <%= notes.description.substring(0,200)+" ..." %>
                </p>

                <!-- to expand notes -->
                <% if(notes.description.length > 200) { %>
                    <%= " ..." %>
                    <a href="/notes/<%= notes.title %>">Expand</a>   <!-- get method for notes:/newNote will be used -->
                <% } %>
                <hr>
                <% }) %>

            </div>


    </main>

    <footer class="newFooter"> <!-- new class to make homepage footer at bottom -->
        <%- include("partials/footer.ejs") %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    </body>

    </html>