<title>Daily Notes | <%= title %></title>

<%- include('partials/header.ejs') %>

    <main>
        <div class="post">
            <h6> <%= title %> </h6>
            <p><%= description %> </p>
        </div>
        

        
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>